.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  overflow: auto;
}
@media(min-width: 650px) {
  .column1 {
    width: 70%;
    float: left;
    padding: 10px;
  }
  .column2 {
    width: 30%;
    float: right;
    padding: 10px;
  }
}

.pic1 {
  max-width: 700px;
}

.pic2 {
  max-width: 700px;
}

body {
  background-color: gray;
}
